### Analizar alpha de la estrategia con otros activos del SP500

In [1]:
#Importamos las librerias necesarias

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import yfinance as yf
import requests

%matplotlib inline
%load_ext autoreload
%autoreload 2
import warnings
warnings.filterwarnings('ignore')

### Cargar datos notebook anterior

In [2]:
datos = pd.read_csv ("../datos/vixsi10.csv", index_col = 0)
datos.index = pd.to_datetime(datos.index)

### Se seleccionan los activos del SP500 que se unieron al índice antes del 2008, y se incluye SPY

In [3]:

tickers = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
tickers = tickers[tickers["Date added"]<="2008-01-01"]
tickers = tickers.Symbol.to_list()
tickers.insert(0, 'SPY')

### Se cargan los activos seleccionados
Como sólo interesa el alpha generado por la estrategia y no el rendimiento en si del activo, no se ajutan los cierres

In [4]:

desde = datos.index[0].strftime("%Y-%m-%d")
hasta = datos.index[-1].strftime("%Y-%m-%d")
data = yf.download(tickers, '2008-01-01', '2024-12-01', auto_adjust=False)['Close']
# Print the first few rows of the fetched data
data.head()

[*********************100%***********************]  250 of 250 completed

1 Failed download:
['BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2008-01-01 -> 2024-12-01)')

,A,AAPL,ABT,ADBE,ADI,ADM,ADP,ADSK,AEE,AEP,...,WBA,WFC,WM,WMB,WMT,WY,XEL,XOM,YUM,ZBH
Date,,,,,,,,,,,,,,,,,,,,,
2008-01-02 00:00:00,25.965666,6.958571,26.777637,41.709999,30.370001,45.259998,37.945564,48.240002,53.349998,46.299999,...,37.340000,29.10,32.259998,29.167856,15.633333,71.519997,22.170000,93.510002,27.232206,64.359222
2008-01-03 00:00:00,25.708155,6.961786,26.614506,41.790001,29.910000,45.730000,37.664619,47.840000,53.310001,46.439999,...,35.060001,28.52,32.259998,29.917839,15.460000,72.199997,22.299999,93.830002,26.851187,64.427185
2008-01-04 00:00:00,24.871244,6.430357,26.768042,40.360001,29.129999,45.849998,35.996487,45.700001,52.919998,46.290001,...,34.290001,27.49,31.049999,29.012968,15.240000,68.620003,22.049999,92.080002,26.470165,64.563110
2008-01-07 00:00:00,25.278971,6.344286,27.588499,40.240002,28.760000,45.860001,36.777874,46.720001,53.610001,47.639999,...,35.070000,27.68,31.570000,28.866232,15.520000,68.129997,22.389999,91.220001,27.088427,66.660194
2008-01-08 00:00:00,25.243204,6.116071,28.312998,39.220001,27.809999,45.020000,36.444248,44.820000,53.310001,47.610001,...,34.230000,26.50,31.730000,29.021120,15.323333,66.699997,22.160000,90.050003,26.398275,65.291260

### Se incluye la señal "vixsignal" en los datos de los activos

In [5]:
data = data.dropna(axis=1, how="all")
data.index = pd.to_datetime(data.index)
activos = data.columns

data = pd.concat([data, datos[["vixsignal"]]], axis=1).dropna()

### Se calcula el alpha de los activos por año

In [6]:
def f_alpha(datos, estrategia="estrategia", benchmark="SPY"):
    '''

    '''

    srets = np.log(datos[estrategia]).diff().fillna(0)
    brets = np.log(datos[benchmark]).diff().fillna(0)

    rent_srets = srets.sum()
    rent_brets = brets.sum()
    alpha = rent_srets - rent_brets
    return (alpha)


def f_alpha_activo (datos, activo):
    estrategia = "estr"+activo
    datos[estrategia] = (1 + datos.vixsignal.shift(1) * datos[activo].pct_change()).cumprod()
    años = sorted(datos.index.year.unique())
    alpha = np.zeros(len(años))
    for i in range(len(años)):
        alpha[i] = f_alpha(datos.loc[str(años[i])],estrategia=estrategia, benchmark=activo)

    alpha = pd.DataFrame(alpha, index=años)
    return (alpha)

df_alpha = pd.DataFrame()
for i,activo in enumerate(activos):
    alpha = f_alpha_activo (data, activo)
    alpha.columns = [activo]
    df_alpha = pd.concat([df_alpha, alpha], axis=1)

### Se analizan los alphas de todos los activos

In [6]:

alfasup = df_alpha.columns[(df_alpha.mean() > df_alpha["SPY"].mean())]
print (f"% alpha activos que superan al alpha de SPY: {len(alfasup)/len(df_alpha.columns)*100:.2f}%")
print (f"% alpha promedio anual de todos los alphas que superan al SPY: {df_alpha[alfasup].mean().mean()*100:.2f}%")
print (f"% desviación estandar promedio anual de todos los alphas que superan al SPY: {df_alpha[alfasup].mean().std()*100:.2f}%")

alfainf = df_alpha.columns[(df_alpha.mean() < df_alpha["SPY"].mean())]
print (f"% alpha activos que no superan al alpha de SPY: {len(alfainf)/len(df_alpha.columns)*100:.2f}%")
print (f"% alpha promedio anual de todos los alphas  inferiores al SPY: {df_alpha[alfainf].mean().mean()*100:.2f}%")
print (f"% desviación estandar promedio anual de todos los alphas inferiores al SPY: {df_alpha[alfainf].mean().std()*100:.2f}%")

% alpha activos que superan al alpha de SPY: 46.99%
% alpha promedio anual de todos los alphas que superan al SPY: 13.95%
% desviación estandar promedio anual de todos los alphas que superan al SPY: 3.59%
% alpha activos que no superan al alpha de SPY: 52.61%
% alpha promedio anual de todos los alphas  inferiores al SPY: 5.73%
% desviación estandar promedio anual de todos los alphas inferiores al SPY: 3.19%

In [7]:
df_alfasup = df_alpha[alfasup]
med_anual = pd.DataFrame(df_alfasup.mean(axis=1))
df_alfainf = df_alpha[alfainf]
med_anual = pd.concat([med_anual, pd.DataFrame(df_alfainf.mean(axis=1))], axis=1)
med_anual.columns = ["alfasup","alfainf"]
med_anual["alfadiff"] = med_anual.alfasup - med_anual.alfainf
#med_anual["mayor0sup"] = (df_alfasup > 0).sum(axis=1)/len(df_alfasup.columns)
#med_anual["mayor0inf"] = (df_alfainf > 0).sum(axis=1)/len(df_alfainf.columns)
#med_anual["mayor0diff"] = med_anual.mayor0sup - med_anual.mayor0inf

med_anual = med_anual.round(2)
med_anual.to_clipboard()
med_anual

      alfasup  alfainf  alfadiff
2008     0.47     0.11      0.36
2009     0.30     0.05      0.25
2010     0.08     0.02      0.06
2011     0.31     0.22      0.09
2012    -0.02    -0.03      0.01
2013     0.00    -0.04      0.04
2014    -0.03    -0.03     -0.00
2015     0.04    -0.01      0.05
2016     0.04     0.04     -0.00
2017     0.06     0.05      0.01
2018     0.11     0.05      0.06
2019     0.08     0.02      0.06
2020     0.91     0.66      0.25
2021    -0.03    -0.08      0.05
2022     0.13     0.11      0.02
2023    -0.05    -0.04     -0.01
2024    -0.03    -0.11      0.08

In [9]:
print (f"media anual de alphas superiores: {med_anual.iloc[:,0].mean():.2f}%")
print (f"media anual de alphas inferiores: {med_anual.iloc[:,1].mean():.2f}%")
print (f"media anual de la serie residual de alphas: {med_anual.iloc[:,2].mean():.2f}%")

media anual de alphas superiores: 0.14%
media anual de alphas inferiores: 0.06%
media anual de la serie residual de alphas: 0.08%

### Se guardan los alphas anuales de todos los activos para los siguientes notebooks

In [93]:
df_alpha.to_csv ("../datos/vixsi12.csv")